* {
    font-family: Roboto, Helvetica, sans-serif;
  }

  .body-container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  body {
    margin: 0;
    padding: 0;
  }